<div class="card mb-5">
    <div class="card-body">
        <h1>Default Role</h1>
        <button (click)="refresh()">Refresh table</button>
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Role Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of roles">
                    <td>{{data.roleName}}</td>
                    <td>{{data.roleDesc}}</td>
                    <td><button (click)="roleDelete(data._id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<H3>Add Role</H3>
<hr>
<form #role="ngForm">
    <div class="row mb-2">
        <div class="col-sm-3">Role Name</div>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="rolename" [(ngModel)]="roleName">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3">Role Description</div>
        <div class="col-sm-9">
            <textarea class="form-control" name="roledesc" id="" cols="30" rows="3" [(ngModel)]="roleDesc"></textarea>
        </div>
    </div>    
    <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button class="btn btn-success" (click)="registerRole()">Submit</button>
            </div>
    </div>
</form>