  <div class="limiter">
    <div class="container-login100" style="background-image: url('../assets/images/img-01.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
                <div class="text-center" style="font-size: 50px; color: white">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>            
                <span class="login100-form-title p-t-20 p-b-45">
                    ProCRM
                </span>

                {{failed}}

                <form class="login100-form validate-form" #myForm = "ngForm">
                <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                    <input type="text" name="user" [(ngModel)]="user" [ngClass]="{'input100':true, 'error':errMessage}"  placeholder="Username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
                    <input class="input100" type="text" name="pass" [(ngModel)]="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn" (click)= "getdata()" >Submit</button>
                </div>
            </form>
                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="#" class="txt1">
                        Forgot Username / Password?
                    </a>
                </div>

                <div class="text-center w-full">
                    <a class="txt1" href="#">
                        Create new account
                        <i class="fa fa-long-arrow-right"></i>						
                    </a>
                </div>
        </div>
    </div>
</div>