
<div class="container">
    <div class="row">
        <div class="left-pane col-sm-8">
            <div class="card mb-4 agenda">
                <h3 class="mb-0 px-4 pt-4">Agenda</h3>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="yesterday">Yesterday's ToDo List</th>
                                <th class="today">Today's ToDo List</th>
                                <th class="tomorrow">Tomorrow's ToDo List</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>....</td>
                                <td>....</td>
                                <td>....</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="card mb-4 attendance">
                <h3 class="mb-0 px-4 pt-4">Attendance/ Raise Leave Request</h3>
                <div class="card-body">
                    <div class="calender">calender Marking Attendance</div>
                </div>
            </div>
            
            <div class="card mb-4 extra">
                <h3 class="mb-0 px-4 pt-4">Extra Reading Material ( PDFs, Links, Blogs, RSS Feeds)</h3>
                <div class="card-body">
                    ...................
                </div>
            </div>
    
        </div>
        
        <div class="right-pane col-sm-4">
        
            <div class="card mb-4 directory">
                <h3 class="mb-0 px-4 pt-4">Mean</h3>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><a href="#" target="_blank" rel="noopener noreferrer">MongoDB</a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">Express</a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">Angular</a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">NodeJS</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="card mb-4 question">
                <h3 class="mb-0 px-4 pt-4">Raise Question/ Add Topic</h3>
                <div class="card-body">
                    <div class="form-group">
                    <input class="form-control mb-2" type="text" placeholder="Questions / Topics" name="" id="">
                    <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        
            <div class="card mb-4 feedback">
                <h3 class="mb-0 px-4 pt-4">Feedback</h3>
                <div class="card-body">
                <input class="form-control mb-2" type="text" placeholder="Feedback" name="" id="">
                <button class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>