
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="mb-3">Student</h1>
        </div>
        <div class="col-sm-6 text-right">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#newEnquiry">
                New Enquiry
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSubject">
               Add Student
            </button>    
        </div>
    </div>
    



<!-- New Lead -->
<div class="new-lead-form-wrapper">    
        <div class="modal fade" id="newEnquiry" tabindex="-1" role="dialog" aria-labelledby="newEnquiry" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">New Enquiry</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #courseadd="ngForm">
                  <div class="modal-body">
                      <div class="row mb-2">
                          <div class="col-sm-4">Student Name</div>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" name="sName" [(ngModel)]="sName" >
                          </div>
                      </div>
                      <div class="row mb-2">
                          <div class="col-sm-4">Student Email</div>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" name="sEmail" [(ngModel)]="sEmail" >
                          </div>
                      </div>
                      <div class="row mb-2">
                          <div class="col-sm-4">Student Mobile</div>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" name="sMobile" [(ngModel)]="sMobile" >
                          </div>
                      </div>
                      <div class="row mb-2">
                          <div class="col-sm-4">Student Course Request</div>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" name="sRequest" [(ngModel)]="sRequest" >
                          </div>
                      </div>       
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="studentQuery()">Add Student Query</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
  </div>