.main-header {
    background:#fafbfb;
    padding: 10px;
    border-bottom: 1px solid #e2f4fe;
 }


ul.user-info {
    padding:0;
    margin:0;
    float: right;
}

ul.user-info li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #ededed;
}

ul.user-info li:last-child {
    border-right:none;
}

.sidebar {
    background: #fafbfb;
    min-height: calc(100vh - 64px);
}

.sidebar-links {
    padding:10px 0;
}

.sidebar-links ul li {

}

.sidebar-links ul li a {
    padding: 8px 10px;
    display: block;
    border-bottom: 1px solid #dadada;
    color:#333333;
    transition:all .2s ease-in;
}

.sidebar-links ul li a:hover {
    background: #e0ecef;
    color: #124280;
}

.sidebar-links ul li a i {
    margin-right: 4px;
}

.main-page {
    padding: 30px;
}

.main-heading {
    border-bottom: 1px solid #dadada;
    width: 100%;
    padding-bottom: 5px;
}

