
<div class="row">
    <div class="col-sm-3">
        <h1>ProCRM</h1>
    </div>
    <div class="col-sm-9">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </li>
            <li>
                <div class="user-info">
                    User Info
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="sidebar">
            <div class="sidebar-links">
                <ul class="list-unstyled">
                    <li> <a href="#actions"> actions </a></li>
                    <li> <a href="#users"> users </a> </li>
                    <li> <a href="#roles"> roles</a></li>
                    <li> <a href="#leads"> leads </a></li>
                    <li> <a href="#students"> students </a></li>
                    <li> <a href="#batches"> batches </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="main-page">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Welcome Deashboard</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<p>dashboard works!</p>
<button (click)="logout()">Logout</button>

