<div class="container-fluid">
<div class="row main-header">
    <div class="col-sm-3">
        <h1>ProCRM</h1>
    </div>
    <div class="col-sm-9">
        <ul class="list-unstyled user-info">
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </li>
            <li>
                <div class="user-info">
                    User Name
                </div>
            </li>
            <li>
                <button (click)="logout()">Logout</button>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 sidebar">
        <div class="">
            <div class="sidebar-links">
                <ul class="list-unstyled">
                    <li> <a href="#actions"><i class="fa fa-briefcase" aria-hidden="true"></i> Actions </a></li>
                    <li> <a href="#users"><i class="fa fa-address-book-o" aria-hidden="true"></i> Users </a> </li>
                    <li> <a routerLink="roles"><i class="fa fa-microchip" aria-hidden="true"></i> Roles</a></li>
                    <li > <a href="#leads"><i class="fa fa-line-chart" aria-hidden="true"></i> Leads </a></li>
                    <li> <a routerLink="students"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Students </a></li>
                    <li appActionButton actionTitle="COURSE_MASTER"> <a routerLink="course"><i class="fa fa-book"></i> Courses</a></li>
                    <li> <a href="#batches"><i class="fa fa-users" aria-hidden="true"></i> Batches </a></li>
                    <li> <a routerLink="managePermission"><i class="fa fa-users" aria-hidden="true"></i> Manage Permission </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="main-page">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-heading">
                        <h1>{{ title }}</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ut accusantium ipsum blanditiis eius ex magni impedit cumque tempore, velit consequuntur doloremque? A excepturi illum rem. Vel ad provident nostrum?</p>

                    <div class="card">
                        <div class="card-body">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
</div>
